.banner {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(https://i.imgur.com/XBEKUJK.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contain {
  display: grid;
  min-height: 100dvh;
  grid-row: auto 1fr auto;
}

.pizzas {
  margin: 0 auto;
}
.img-pizza {
  object-fit: cover;
}
